autograd==1.6.2
contourpy==1.2.1
cycler==0.12.1
Cython==3.0.10
fonttools==4.52.1
future==1.0.0
kiwisolver==1.4.5
matplotlib==3.9.0
numpy==1.26.3
packaging==24.0
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
scipy==1.13.1
six==1.16.0
